.DS_Store
data
/main
*.db
test_folder
cmd/watcher_test/
.env

cmd/synctest/
/sync-server
/sync-client-desktop
sync_token.json
worker/
.archify
rust_server/.wrangler/
rust_server/target/
rust_server/build/
sync-client
